.blind {
    @include size(1px, 1px);
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

.v-divider {
    @include size(1px, 14px);
    background-color: $color-lightgray;
    display: inline-block;
    margin: 18px 16px 0;
}

.inline-block-box {
    display: inline-block;
}
