@mixin block($args...) {
    @include size($args...);
    background-color: $color-white;
    display: inline-block;
    vertical-align: top;
}

.main {
    background-color: $color-main-bg;

    &__container {
        @include h-centered(1100px);
        padding: 8px 10px;
    }

    &__first-block {
        margin-bottom: 8px;

        &--ad {
            @include block(740px, 120px);
            background-color: $color-gray;
            margin-right: 8px;
        }

        &--login {
            @include block(332px, 120px);
        }
    }

    &__second-block {
        margin-bottom: 8px;

        .inline-block-box:first-child {
            @include size(740px);
            margin-right: 8px;
        }

        .inline-block-box:last-child {
            @include size(332px);
            vertical-align: top;
        }

        &--news {
            @include block(740px, 46px);
            margin-bottom: 8px;

            h3,
            ol {
                display: inline-block;
            }
        }

        &--newsstand {
            @include block(740px, 246px);
            margin-right: 8px;

            h3 {
                border-bottom: 1px solid $color-lightgray;
                height: 45px;
            }

            li {
                @include size(calc(100% / 6), 67px);
                border-bottom: 1px solid $color-lightgray;
                border-left: 1px solid $color-lightgray;
                float: left;

                img {
                    left: 50%;
                    position: relative;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &--weather {
            @include block(332px, 142px);
            margin-bottom: 8px;
        }

        &--ad {
            @include block(332px, 150px);
            background-color: $color-gray;
        }
    }

    &__third-block {
        margin-bottom: 8px;

        &--category {
            @include block(740px, 882px);
            margin-right: 8px;
        }

        &--shopping {
            @include block(330px, 882px);

            iframe {
                @include size(100%, 100%);
            }
        }
    }

    &__fourth-block {
        &--event {
            @include block(740px, 130px);
            margin-right: 8px;
        }

        &--ad {
            @include block(332px, 130px);
            background-color: $color-gray;
        }
    }
}
