@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    bottom: $bottom;
    left: $left;
    position: $position;
    right: $right;
    top: $top;
}

@mixin absolute($args...) {
    @include position(absolute, $args...);
}

@mixin relative($args...) {
    @include position(relative, $args...);
}

@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin h-centered($width) {
    margin: 0 auto;
    width: $width;
}
