@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    bottom: $bottom;
    left: $left;
    position: $position;
    right: $right;
    top: $top;
}

@mixin absolute($args...) {
    @include position(absolute, $args...);
}

@mixin relative($args...) {
    @include position(relative, $args...);
}

@mixin size($width: null, $height: null) {
    height: $height;
    width: $width;
}

@mixin h-centered($width, $height: null) {
    height: $height;
    margin: 0 auto;
    width: $width;
}

@mixin sp($url, $width, $height, $x, $y) {
    @include size($width, $height);
    background: url(#{$url}) $x $y no-repeat;
    display: inline-block;
}
