@mixin sp-assets($width, $x, $y) {
    @include sp($url: '../assets/sp_nav.png', $width: $width, $height: 16px, $x: $x, $y: $y);
}

@mixin nth-sp($nth, $args...) {
    &:nth-child(#{$nth}) span:first-child {
        @include sp-assets($args...);
    }
}

.nav {
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-lightgray;

    &__container {
        @include h-centered(1080px, 46px);
        @include relative();
    }

    &__ranking {
        @include absolute($top: 14px, $right: 0);
        @include size(198px, 20px);

        &--number {
            color: $color-primary;
            font-size: 16px;
            margin: -9px 8px 0 0;
            margin-top: -9px;
        }

        &--title {
            font-size: 14px;
            letter-spacing: -1px;
        }

        &:hover .nav__detail {
            display: block;
        }
    }

    &__detail {
        @include absolute($top: -15px, $right: 0);
        @include size(330px, 332px);
        background-color: $color-white;
        border: 1px solid $color-gray;
        display: none;
        padding: 16px;
        z-index: 100;

        &--top {
            @include relative();
            margin-bottom: 12px;

            h3 {
                display: inline-block;
                font-size: 14px;
                letter-spacing: -1px;
                line-height: 17px;
            }

            div {
                @include absolute($right: 0);
                display: inline-block;
            }

            span {
                color: $color-darkgray;
                font-size: 12px;

                &:nth-of-type(2) {
                    color: $color-gray;
                    margin: 0 1px;
                }
            }
        }

        &--nav {
            border: 1px solid $color-gray;
            margin-bottom: 6px;

            div {
                @include size(50%);
                display: inline-block;
                padding: 4px;

                &:nth-of-type(2) {
                    background-color: $color-lightgray;
                    color: $color-darkgray;
                }

                h4 {
                    font-size: 12px;
                    font-weight: normal;
                    text-align: center;
                }
            }
        }

        &--list {
            border-bottom: 1px solid $color-lightgray;
            margin-bottom: 8px;
            padding-bottom: 4px;

            li {
                margin-bottom: 4px;

                span:first-child {
                    @include size(16px);
                    display: inline-block;
                    font-size: 14px;
                    text-align: center;
                }

                span:last-child {
                    font-size: 12px;
                    margin-left: 6px;
                }
            }
        }

        &--footer {
            overflow: hidden;

            div {
                color: $color-darkgray;
                display: inline-block;
            }

            div:first-child {
                float: left;
                font-size: 11px;
            }

            div:last-child {
                float: right;
                font-size: 12px;
                letter-spacing: -1px;
            }
        }
    }

    &__menu {
        display: inline-block;
        padding: 16px 0 0 4px;

        li {
            @include nth-sp(1, 25px, 0, -285px);
            @include nth-sp(2, 27px, -279px, -52px);
            @include nth-sp(3, 40px, -100px, -182px);
            @include nth-sp(4, 40px, -101px, -156px);
            @include nth-sp(5, 26px, -279px, -156px);
            @include nth-sp(6, 25px, -70px, -285px);
            @include nth-sp(7, 35px, -125px, -131px);
            @include nth-sp(8, 26px, -279px, -208px);
            @include nth-sp(9, 26px, -128px, -104px);
            @include nth-sp(10, 26px, -36px, -259px);
            @include nth-sp(11, 39px, -151px, -156px);
            @include nth-sp(12, 26px, -279px, -130px);
            @include nth-sp(13, 26px, -234px, -233px);
            @include nth-sp(14, 26px, -72px, -259px);
            @include nth-sp(15, 13px, -140px, -78px);
            @include nth-sp(16, 26px, -279px, 0);

            display: inline-block;

            &:not(:nth-child(1)) {
                margin-left: 14px;
            }
        }
    }

    &__more {
        display: inline-block;

        &--icon {
            @include nth-sp(1, 55px, 0, -104px);
        }
    }
}
